body{
    background-color: #004147;
}
.image{
    height: 300px;
    width: 400px;
}
div{
    display: flex;
    justify-content: center;
}
h1{
    color: aliceblue;
    text-align: center;
}